@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Montserrat', serif;
  font-size: 16px;
  --armadle-icon: url('../assets/armadle.svg');
  --color-background: #8cacd3;
  --settings-cog-color: #222222;

  /* Spacing variables */
  --vertical-spacing-0-5: 4px;
  --horizontal-spacing-0-5: 4px;
  --vertical-spacing-2: 16px;
  --horizontal-spacing-2: 16px;
  --vertical-spacing-1-5: 12px;
  --header-height: 40px;
  --header-toolbar-height: 50px;
  --header-padding-x: var(--horizontal-spacing-2);
  --game-max-width: 500px;
  --board-width: min(320px, 100vw);

  /* Button styles */
  --bg-btn-primary: #000000;
  --text-btn-primary: #ffffff;
  --sm-btn-bg-color: #e45c5c;
  --sm-btn-border-color: #aa3636;
  --sm-btn-text-color: #f8f7f7;

  /* Game tile styles */
  --empty-tile-color: #6f94c4;
  --empty-tile-bg-color: #c3d7ef;
  --selected-tile-bg-color: #d7e5f6;
  --miss-tile-color: #aab7c8;
  --miss-tile-bg-color: #f7f5f5;
  --hit-tile-color: #9f2232;
  --hit-tile-bg-color: #ee6b78;

  /* Ship styles */
  --ship-nf-color: #8b939e;
  --ship-nf-bg-color: #d0d3d7;
  --ship-f-color: #9f2232;
  --ship-f-bg-color: #ee6b78;;
  --ship-container-border: #8b939e;

  /* Life styles */
  --alive-color:#6ba987;
  --alive-bg-color:#86c69c;
}

@media (min-width: 768px) {
  :root {
    --board-width: 360px;
  }
}



