@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Montserrat', serif;
  font-size: 16px;
  --armadle-icon: url('../assets/armadle.svg');
  --color-background: #8cacd3;
  --settings-cog-color: #222222;

  /* Spacing variables */
  --vertical-spacing-0-5: 4px;
  --horizontal-spacing-0-5: 4px;
  --vertical-spacing-2: 16px;
  --horizontal-spacing-2: 16px;
  --vertical-spacing-1-5: 12px;
  --header-height: 40px;
  --header-toolbar-height: 50px;
  --header-padding-x: var(--horizontal-spacing-2);
  --game-max-width: 500px;

  /* Button styles */
  --bg-btn-primary: #000000;
  --text-btn-primary: #ffffff;

  /* Game tile styles */
  --empty-tile-color: #89acd7;
  --empty-tile-bg-color: #acc7e8;
  --selected-tile-bg-color: #bed4ee;
  --near-tile-color: #89cfd7;
  --near-tile-bg-color: #ace1e7;
  --miss-tile-color: #a5a5a5;
  --miss-tile-bg-color: #e4e4e4;
  --hit-tile-color: #be2a2a;
  --hit-tile-bg-color: #c03939;
}